<section class="who-we-are">
    <div class="container">
        <div class="who-we-are-inner">
            <div class="who-we-are-content">
                <!-- Image div goes here -->
                <div class="who-we-are-image-container">
                    <img src="{{ url_for('static', filename='images/who_we_are_background_image.png') }}" alt="Who We Are" class="who-we-are-image">
                </div>
                
                
                <!-- Description div -->
                 <div class="who-we-are-title">
                    <h2>Who We Are</h2>
                </div>
                <div class="who-we-are-description">
                    <h3>Are you a small business owner struggling to get noticed online?</h3>
                    <p class="who-we-are-paragraph">
                        We specialize in helping entrepreneurs grow their digital presence and get found by the right customers through proven search marketing strategies. 
                    </p>
                    <p class="who-we-are-paragraph">
                        From local visibility to website improvements, we provide a full-service solution designed for small and local business growth. 
                    </p>
                </div>
            </div>
            <div class="cta-buttons">
                <a href="#services" class="btn cta btn-cta-1">Book 15‑Min Consultation</a>
                <a href="#contact" class="btn cta btn-cta-hire-us">Hire Us</a>
            </div>
        </div>
    </div>
</section>
